NEXT_PUBLIC_SUPABASE_URL="httpsxxxxxxxxxxxxxxxxxxxxxxxxs.upabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxx"
SUPABASE_SERVICE_ROLE_KEY="xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxx"

DATABASE_URL="postgresql://postgres.xxxxxxxxxxxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx@aws-0-ap-xxxxxxxxxxxxxxxxxxxxxxxx-2.xxxxxxxxxxxxxxxxxxxxxxxx.supabase.com:xxxxxxxxxxxxxxxxxxxxxxxx/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.xxxxxxxxxxxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxx@aws-0-ap-xxxxxxxxxxxxxxxxxxxxxxxx-2.xxxxxxxxxxxxxxxxxxxxxxxx.supabase.com:xxxxxxxxxxxxxxxxxxxxxxxx/postgres"

NEXT_PUBLIC_API_URL="http://localhost:3000/api"

R2_ACCOUNT_ID="https://xxxxxxxxxxxxxxxxxxxxxxxx.r2.xxxxxxxxxxxxxxxxxxxxxxxx.com"
R2_ACCESS_KEY_ID="xxxxxxxxxxxxxxxxxxxxxxxx"
R2_SECRET_ACCESS_KEY="xxxxxxxxxxxxxxxxxxxxxxxx"
R2_BUCKET_NAME="xxxxxxxxxxxxxxxxxxxxxxxx"
R2_PUBLIC_URL="https://pub-xxxxxxxxxxxxxxxxxxxxxxxx.r2.dev"

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_xxxx"
STRIPE_SECRET_KEY="sk_test_xxxx"
STRIPE_WEBHOOK_SECRET="whsec_xxxx"
NEXT_PUBLIC_APP_URL="http://localhost:3000"